{% extends 'frontend/base.html' %}
{% block title %} ContactPage {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Contact Page</h1>
    <p class="lead">Name : Vichit Prasompong</p>
    <p class="lead">Tel : 098-252-8756</p>
    <p class="lead">E-Mail : vichit132@gmail.com</p>
    <p class="lead">Line : nyarumi132</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.facebook.com/vichit.prasompong/" role="button">Facebook</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://twitter.com/RNyarumi" role="button">Twitter</a>
    </p>
</div>
{% endblock %}
