{% extends 'frontend/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">My Calendar</h1>
    <p class="lead">DoYouLikeMyCalendar</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://photos.google.com/u/0/share/AF1QipO5nPhwWLIRk47ike8nGGoSP14n4edV7K1fefRo4wBW3Ac3h7S0KWHGcpqpGr0fGA?hl=ja&key=RXFOZUE2SkViM3RjNEVRdmVYZWNxYjNETVNmbUln" role="button">source</a>
    </p>
</div>
{% endblock %}
